{% if user.admin == 0 %}
    {% redirect 'picpuller' %}
{% endif %}

{% extends "_layouts/cp" %}
{% includeCssResource("picpuller/style.css") %}

{% set title = "Pic Puller for Craft"|t %}

{% set tabs = {

setup: { label: "Account"|t, url: url('picpuller') },
users: { label: "Authorized Users", url: url('picpuller/users')}

} %}

{% set selectedTab = 'users' %}

{% set users = craft.PicPuller.getUsers() %}

{# Words are hard. #}
{% if users|length == 1 %}
    {% set userverb = "is" %}
    {% set userverb2 = "has" %}
    {% set userphrase = "user" %}
    {% else %}
    {% set userverb = "are" %}
    {% set userverb2 = "have" %}
    {% set userphrase = "users" %}
{% endif %}

{% set content %}
<h2 class='pp'>Authorized users</h2>

<p>
    {% set shareoauth = craft.picpuller.getShareOauthSetting() %}
    {% if shareoauth == true  %}
        If your account is shown below, your authorization will be shared amongst all users of the site. Change this preference in the Pic Puller <a href="{{ craft.plugins.getPlugin('picpuller').getSettingsUrl }}" title='Pic Puller settings'>settings</a>.
        {% else %}
       There {{ userverb }} {{ users|length }} {{ userphrase }} who {{ userverb2 }} authorized <em>Pic Puller</em> to have access to Instagram. Each user must authenticate their individual Craft user account with an Instagram account to use <em>Pic Puller</em>. This setting can be changed in the Pic Puller <a href="{{ craft.plugins.getPlugin('picpuller').getSettingsUrl }}" title='Pic Puller settings'>settings</a>.
    {% endif %}
</p>

<table class="data collapsible">
        <thead>
            <tr>
                <th scope="col">Craft User ID</th>
                <th scope="col">Craft User</th>
                <th scope="col">Instagram ID</th>
                <th scope="col">Instagram oAuth</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for entry in users %}
                    <tr>
                        <td>{{ entry.user_id }}</em></td>
                        <td>{{ entry.firstname}} {{ entry.lastname}} <em>({{ entry.username}})</em></td>
                        <td>{{entry.instagram_id}}</td>
                        <td>{{entry.oauth}}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>

{% endset %}